<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen Bimestral de Tópicos Especiales
      Chateando... <ion-button (click)="Onlogout()" >Salir</ion-button>
      <ion-input placeholder="¿Quién eres?" [(ngModel)]="userName"> </ion-input>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card **ngFor="let message of messages">
    <ion-card-header>
      {{message.nombre}} dice: 
    </ion-card-header>
    <ion-card-content>
      {{message.mensaje}}
    </ion-card-content>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="escribe algo aquí"></ion-input>
    <ion-buttons end>
      <ion-button>
        Enviar
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
